# ssh server
IMAGE_TAG=

# database
POSTGRES_PASSWORD=
POSTGRES_USER=
POSTGRES_DB=
POSTGRES_HOST=
POSTGRES_PORT=

# server
BACKEND_HOST=
BACKEND_HTTP_PORT=
BACKEND_JWT_SECRET=
BACKEND_CORS_ORIGINS=
DATABASE_URL=
BACKEND_DB_MAX_CONNECTIONS=
BACKEND_VIDEO_MAX_BODY_SIZE=
BACKEND_VIDEO_RATE_LIMIT_PERIOD_SEC=
BACKEND_VIDEO_RATE_LIMIT_SIZE=

#common
IS_PRODUCTION=