# ssh server
IMAGE_TAG=

# database
POSTGRES_PASSWORD=
POSTGRES_USER=
POSTGRES_DB=
POSTGRES_HOST=
POSTGRES_PORT=

# server
BACKEND_HOST=
BACKEND_HTTP_PORT=
BACKEND_JWT_SECRET=
BACKEND_CORS_ORIGINS=
DATABASE_URL=
BACKEND_DB_MAX_CONNECTIONS=
BACKEND_VIDEO_MAX_BODY_SIZE=
# Because GovernorConfigBuilder uses seconds for its base time period replenishment definition,
#you divide the total seconds in an hour (3600) by your target request volume (100).
#This means the limiter should replenish 1 element every 36
BACKEND_VIDEO_RATE_LIMIT_PERIOD_SEC=
BACKEND_VIDEO_RATE_LIMIT_SIZE=
BACKEND_VIDEO_INSPECT_TIMEOUT=
BACKEND_VIDEO_PROCESS_TIMEOUT=
BACKEND_VIDEO_MOCK_PASSWORD_HASH=
#common
IS_PRODUCTION=