# database
POSTGRES_PASSWORD=postgres
POSTGRES_USER=postgres
POSTGRES_DB=template
POSTGRES_HOST=0.0.0.0
POSTGRES_PORT=5432

# server
BACKEND_HOST=0.0.0.0
BACKEND_HTTP_PORT=8080
BACKEND_JWT_SECRET=hello_kitty
BACKEND_CORS_ORIGINS=http://localhost:3000,https://localhost:3000,http://127.0.0.1:3000,https://127.0.0.1:3000,https://video_processing_app.local
DATABASE_URL=postgresql://postgres:postgres@0.0.0.0:5432/video_processing_app
BACKEND_DB_MAX_CONNECTIONS=20

#common
IS_PRODUCTION=false