BETTER_AUTH_SECRET=
NEXT_PUBLIC_MAX_BODY_SIZE=
NEXT_PUBLIC_PROXY_AUTH_CHECK_ENABLED=

# local container
NEXT_PUBLIC_API_DOMAIN=
BETTER_AUTH_URL=
NEXT_PUBLIC_IS_PROD=

#dev
NEXT_PUBLIC_LOCAL_ENV=
SENTRY_AUTH_TOKEN=
NEXT_PUBLIC_SENTRY_DSN=
